<div class="col-xs-2 col-sm-1">
  <div class="padding-top text-center">
    <i class="fa fa-chevron-right"></i>
  </div>
</div>
  <div class="col-xs-10 col-sm-5">
    <div class="padding-top">
        <%= work.description.capitalize %>
    </div>
  </div>
  <div class="col-xs-8 col-sm-3">
    <div class="padding-top text-center">
      <% if work.project == "personal" %>
        <div class="bg-yellow">
          <%= work.project %>
        </div>
      <% else %>
        <div class="bg-red">
          <%= work.project %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-4 col-sm-3">
    <div class="padded-small">
      <% if work.state %>
        <div class="text-center padding-left">
          <%= link_to '<i class="fa fa-trash"></i>'.html_safe, work_path(work),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
        </div>
      <% else %>
        <div class="text-center">
          <%= simple_form_for work, remote: :true do |f| %>
            <%= f.hidden_field :state, value: true %>
            <%= button_tag(type: 'submit', class: "btn btn-warning") do %>
              <i class="fa fa-check-square"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>