<div class="mini-height" id="background">
  <div class="container">
    <div class="padded-small"></div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="bg-blue padded-small text-center">
          <h3>Today, I'll do</h3>
          <div class="padded-small bg-grayish">
            <%= simple_form_for(@work, url: works_path) do |f| %>
              <%= f.error_notification %>
              <div class="form-inline text-center">
                <h3 class="inline"></h3>
                <div class="inline">
                  <%= f.input :description, placeholder: 'Describe the task', label: false %>
                </div>
                <div class="inline">
                  <%= f.input :project, prompt: "is it?", label: false %>
                </div>
                <%= f.button :submit, "+", class:"btn btn-success" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="padded-small bg-white mini-height">
          <div class="text-center">
  <!--           <h3>I'm (normally) doing...</h3>
   -->        </div>
          <% @works.each do |work| %>
            <div class="row">
              <div id="work-update">
                <%= render 'work', work: work %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
