<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="padded-small bg-grayish">
        <%= simple_form_for(@work, url: works_path) do |f| %>
          <%= f.error_notification %>
          <div class="form-inline text-center">
            <h3 class="inline"></h3>
            <div class="padded-right inline">
              <%= f.input :description, placeholder: 'Describe the task', label: false %>
            </div>
            <div class="padded-right inline">
              <%= f.input :project, prompt: "is it?", label: false %>
            </div>
            <%#= f.input :allocated_time, placeholder: 'Minutes to complete task', label: false %>

            <%= f.button :submit, "+", class:"btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
<!--       <h3>All Tasks</h3>
 -->      <div class="col-sm-5">
        <h4>Task</h4>
      </div>
      <div class="col-sm-3">
        <h4>Project</h4>
      </div>
      <div class="col-sm-2">
        <div class="text-center">
          <h4>State</h4>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="text-center">
          <h4>Delete?</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <% @works.each do |work| %>
        <div class="col-sm-5">
          <%= work.description %>
        </div>
        <div class="col-sm-3">
          <%= work.project %>
        </div>
        <div class="col-sm-2">
          <div class="text-center">
            <% if work.state == false %>
              <%= simple_form_for work, url: work_path(work), method: :patch do |f| %>
                <%= f.hidden_field :state, value: true %>
                <%= f.submit "Done?", class: "btn btn-danger" %>
              <% end %>
            <% else %>
              <button class="btn btn-success">done</button>
            <% end %>

          </div>
        </div>
        <div class="col-sm-2">
          <div class="text-center">
            <%= link_to '<i class="fa fa-trash"></i>'.html_safe, work_path(work),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
